
/* Estilos generales para el contenedor principal del componente */
.estilos-container {
    margin: 40px;
    text-align: justify;
    font-family: Arial, sans-serif;
    color: white;
    line-height: 1.6;
  }
  
  .estilos-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .estilos-container h2 {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  /* Estilo para los párrafos */
  .estilos-container p {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  
  .estilos-container code {
    background-color: #f4f4f4;
    padding: 3px 5px;
    border-radius: 4px;
    font-size: 1.1em;
    color: #d63384;
  }
  
  .code-block {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    margin-bottom: 20px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1.1em;
    color: black;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .estilos-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .estilos-container a:hover {
    text-decoration: underline;
  }
  