
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .layout-main {
    width: 100%;  
    padding: 20px; 
  }
  
  header, footer {
    width: 100%;
  }
  